/*Color*/
$text-primary-green: #0B8C7F;
$text-secondary-green: #419B92;
$link-primary-green: #7FDAD1;
$link-secondary-gray: #98A2B3;
$text-secondary-green-v2: #0E9384;

$button-orange:#F0CE77;
$button-secondary-orange:#F7E7BB;

$secondary-bg-green: #E2F1EF;
$secondary-bg-orange: #F9F2E3;
$secondary-bg-gray: #F9FAFB;
$secondary-bg-green-v2: #BFF2EE;
$primary-bg-green: #F6FBFB;

$primary-menu-bg-green: #D6ECEA;
$form-border-gray: #D0D5DD;
$form-red:#D92D20;

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*Transition*/
$transition-speed: all 0.3s 0s ease;


/*breakpoint*/
$mobile-breakpoint: 481px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$tv-breakpoint: 1570px;
$illustration-breakpoint: 1370px;

/*bootstrap*/

@import 'src/bootstrap/grid';

/*h1,h2,h3, h4*/
@import 'src/components/_headers';

/*teaser*/
@import 'src/components/_teaser';


@import 'src/components/_grid';
@import 'src/components/_header';
@import 'src/components/_footer';
@import 'src/components/_button';
@import 'src/components/_links';
@import 'src/components/main-dropdown';


/*blog*/
@import 'src/components/_posts-archive';
@import 'src/components/_pager';
@import 'src/components/_cats';
@import 'src/components/_posts';
@import 'src/components/_author';

/*contact-form*/
@import 'src/components/_contact-form';
@import 'src/components/_box-contact';

/*clients*/
@import 'src/components/_clients';

/*services*/
@import 'src/components/_services';

/*team*/
@import 'src/components/_team';

/*technology*/
@import 'src/components/_technology';

/*Case-studies*/
@import 'src/components/_case-studies';
@import 'src/components/_glide-nav';

/*areas*/
@import 'src/components/_areas';

@import 'src/components/_check-list-big';


@import 'src/components/_icon-list';

@import 'src/components/_purpose';
@import 'src/components/_realizace';

@import 'src/components/_video-service';
@import 'src/components/_proces';
@import 'src/components/_s-data';
@import 'src/components/faq';
@import 'src/components/section';
@import 'src/components/service-list';
@import 'src/components/thank-you';
@import 'src/components/_usp';

@import 'src/components/_modal';
@import 'src/components/_fix-banner';
@import 'src/components/contact-primary';
@import 'src/components/contact-secondary';
@import 'src/components/illustration';
@import 'src/components/career-heading';
@import 'src/components/service-detail';
@import 'src/components/case-detail';
@import 'src/components/accordion-career';
@import 'src/components/section-nav';
@import 'src/components/text-slider';
@import 'src/components/career-detail';
@import 'src/components/slbElement';

@import 'src/helpers/atomic';


a{
  color:#419B92;
  transition: $transition-speed;
  &:hover{
    color:#7FDAD1;
  }
}


*{
  font-family: 'Sora', sans-serif;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

body {
  background-color: #FBF8EE;
  margin: 0px;
}

.white-bg{
  background-color: white;
}


.d-show__block{
  display: none;
  @media only screen and (min-width: $desktop-breakpoint) {
    display: block;
  }
}
.d-show__flex{
  display: none;
  @media only screen and (min-width: $desktop-breakpoint) {
    display: flex;
  }
}
.m-show__flex{
  display: flex;
  @media only screen and (min-width: $desktop-breakpoint) {
    display: none;
  }
}

/*Section adding settings*/
.clients,
.services,
.teaser-hp,
.teaser-alt,
.team,
.technology,
.case-studies,
.areas,
.purpose,
.icon-list,
.offset-pb-post-archive,
.video-service,
.contact-secondary,
.service-detail,
.accordion,
.case-detail,
.accordion-career,
.what-more,
.text-slider,
.pager,
.career-detail,
.usp,
.proces,
.s-data,
.realizace {
  padding: 20px 20px;

  @media only screen and (min-width: $tablet-breakpoint) {
    padding: 40px 0px 40px 0px;
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    padding: 50px 0px 50px 0px;
  }
}

/* Exclude padding for .check-list-big with .white */
.check-list-big.white {
  padding: 0; /* Override padding for specific case */
}


.contact-form{
  padding: 20px 0px;
  @media only screen and (min-width: $tablet-breakpoint){
    padding: 40px 0px 40px 0px;
  }
  @media only screen and (min-width: $desktop-breakpoint){
    padding: 50px 0px 50px 0px;
  }
}

/*Kvůli tlačítku na slider*/
.case-studies{
  margin-bottom: 100px;
  @media only screen and (min-width: $tablet-breakpoint){
    margin: unset;
  }
}

.max-width{
  max-width: 1024px;
  margin: auto;
}


.conditions {
  .toggle {
    input{
      border: 2px solid #ccc;
      border-radius: 3px;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
      transition: border-color 0.3s ease;

      &:checked {
        border-color: #007bff;
        background-color: #007bff;
      }

      &:hover {
        border-color: #999;

        &:checked {
          border-color: #0056b3;
        }
      }
    }

    .wpcf7-list-item-label {
      font-size: 14px;
      color: #333;
      cursor: pointer;
    }
  }
}
