node_modules
# Ignorovat hlavní konfigurační soubor
wp-config.php

# Ignorovat obsah nahrávání
wp-content/uploads/

# Ignorovat cache
wp-content/cache/

# Ignorovat upgrade a záložní soubory
wp-content/upgrade/
wp-content/backups/

# Ignorovat specifické pluginy nebo témata, které spravujete mimo Git
# Příklad: wp-content/plugins/jeden-konkretni-plugin/
# Příklad: wp-content/themes/jedno-konkretni-tema/

# Ignorovat soubory, které mohou obsahovat citlivé informace
.htaccess
error_log
php.ini

# Další obecné soubory a složky, které by měly být ignorovány
*.log
.DS_Store
