/**
 * Colors
 */
$black: #000;
$white: #fff;

$blue: #002858;
$blueLight: #147DFB;
$orange: #FA4514;
$grey: #F0F7FD;

/**
/* Font weight variables
 */
$font-light: 100;
$font-normal: 300;
$font-medium: 500;
$font-semibold: 700;
$font-bold: 900;