.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  .accordion-item {
    border: var(--border);
    &.active{
      border: var(--border-red);
      .accordion-title{
        img{
          transform: rotate(180deg);
        }
      }
    }

    .accordion-title {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px;
      h3 {

      }
    }

    .accordion-content {
      display: none;
      padding: 10px;
      background-color: #fff;
    }
  }
}
