.footer{
background: black;
  .section{
    padding: 24px 0;
    @include respond-below(md) {
      padding: 10px 0;
    }
  }
  .company-details{
    display: flex;
    justify-content: flex-start;
    row-gap: 24px;
    flex-direction: column;
    .logo{
      @include respond-below(md) {
        display: flex;
        justify-content: center;
      }
    }
    .detail{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      column-gap: 24px;
      row-gap: 10px;
      @include respond-below(md) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      img{
        height: 60px;
      }
    }
  }
  .content{
    p{
      color: white;
    }
  }
  .footer-second{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: flex-end;
    .footer-menu{
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      ul{
        display: flex;
        gap: 15px;
        li{
          list-style: none;
        }
      }
      a{
        color: white;
        &.btn{
          color: black;
        }
      }
      .current_page_item{
        a{
          color: var(--secondary-color);
        }
      }
      @include respond-below(md) {
        display: none;
      }
    }
    .contact{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 25px;
      img{
        width: 25px;
      }
      @include respond-below(md) {
        align-items: center;
        justify-content: center;
        margin: 15px 0;
      }
      a{
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  .white-url{
    a{
      color: white;
    }
  }
}
