.wpcf7{
  margin: auto;
  width: 100%;
}
.form-block{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 60px 0;

  &.active {
    display: flex;
  }

  .doba-splaceni-value-info{
    position: absolute;
    bottom: 75px;
    min-width: 54px;
    padding: 15px;
    background-color: var(--yellow-color);
    border-radius: var(--radius-btn);
    font-weight: 800;
  }
  .range-block{
    position: relative;
    width: 100%;
    max-width: 620px;
    margin: 55px auto 0;
    .wpcf7-form-control-wrap{
      width: 100%;
    }
    .range-popis{
      display: flex;
      justify-content: space-between;
      font-weight: 800;
    }
  }
}

input[type="range"] {
  width: calc(100%);
  margin: 1.5rem 0;
  -webkit-appearance: none; /* Odstraní výchozí styl prohlížeče */
  height: 7px;
  border-radius: 5px;
  background: linear-gradient(to right, black 0%, black var(--range-value, 50%), var(--yellow-color) var(--range-value, 50%), var(--yellow-color) 100%);
  background-size: 100% 7px; /* Zajistí, že gradient pokryje celou výšku tracku */
  background-repeat: no-repeat;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Šířka posuvníku */
    height: 20px; /* Výška posuvníku */
    border-radius: 50%; /* Kulatý posuvník */
    background: #FFF; /* Barva posuvníku */
    cursor: pointer; /* Změní kurzor na ukazovátko */
  }

  &::-moz-range-thumb {
    width: 20px; /* Šířka posuvníku */
    height: 20px; /* Výška posuvníku */
    border-radius: 50%; /* Kulatý posuvník */
    background: #FFF; /* Barva posuvníku */
    cursor: pointer; /* Změní kurzor na ukazovátko */
  }

  &::-ms-thumb {
    width: 20px; /* Šířka posuvníku */
    height: 20px; /* Výška posuvníku */
    border-radius: 50%; /* Kulatý posuvník */
    background: #FFF; /* Barva posuvníku */
    cursor: pointer; /* Změní kurzor na ukazovátko */
  }
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: black;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out; }

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent; }

.wpcf7-response-output{
  display: none;
}