.wpcf7{
  margin: auto;
  width: 100%;
}
.form-block{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 60px 0;

  &.active {
    display: flex;
  }

  .doba-splaceni-value-info{
    margin: auto;
    width: fit-content;
    padding: 15px;
    background-color: var(--yellow-color);
    border-radius: var(--radius-btn);
    font-weight: 800;
  }
  .range-block{
    width: 100%;
    max-width: 620px;
    margin: auto;
    .wpcf7-form-control-wrap{
      width: 100%;
    }
    .range-popis{
      display: flex;
      justify-content: space-between;
      font-weight: 800;
    }
  }
}

input[type="range"] {
  width: calc(100%);
  margin: 1.5rem 0;
  -webkit-appearance: none;
  height: 7px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: var(--yellow-color);
  background-size: 100%;
  background-repeat: no-repeat; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: black;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out; }

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent; }

.wpcf7-response-output{
  display: none;
}