//Skrytí mobilní navigace
.header{
  &.secondary{
    background-color: var(--primary-color);
    width: 100%;
  }
}

.nav-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  align-items: center;

  .navigation{
    display: flex;
    gap: 24px;
    .btn{
      @include respond-below(md) {

      }
    }
  }

  .navigation__toggle {
    display: none;
    color: white;

    @include respond-below(md) {
      display: block;
    }
  }

  .nav{
    display: flex;
    gap:20px;

    @include respond-below(md) {
      flex-direction: column;
    }
  }

  li{
    list-style: none;
  }
  .main-nav{
    a{
      text-decoration: none;
      color: white;
      font-weight: 600;
      transition: var(--transition);
      &:hover{
        color: var(--secondary-color);
        &::after{
          content: "";
          position: absolute;
          display: block;
          width: 45px;
          height: 5px;
          background-color:var(--secondary-color);
          top: 0;
        }
      }
    }
    .current_page_item{
      a{
        font-weight: 800;
        &::after{
          content: "";
          position: absolute;
          display: block;
          width: 45px;
          height: 5px;
          background-color:var(--secondary-color);
          top: 0;
        }
      }
    }
    @include respond-below(md) {
      display: none;

      &.open {
        position: absolute;
        top: 5rem;
        display: block;
        width: 20rem;
        background-color: black;
        z-index: 100;
      }
    }
  }

}


