//Skrytí mobilní navigace
.header{
  width: 100%;
}

.nav-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  .navigation{
    display: flex;
    gap: 24px;
  }
  .nav{
    display: flex;
    gap:15px;
  }
}


