//Skrytí mobilní navigace
.header{
  &.secondary{
    background-color: var(--primary-color);
    width: 100%;
  }
}

.nav-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  align-items: center;

  .navigation{
    display: flex;
    gap: 24px;
    .btn{
      display: block;
      @include respond-below(md) {
        display: none;
      }
    }
  }

  .navigation__toggle {
    display: none;
    color: white;

    @include respond-below(md) {
      display: block;
    }
  }

  .nav{
    display: flex;
    gap:20px;

    @include respond-below(md) {
      flex-direction: column;
    }
  }

  li{
    list-style: none;
  }
  .main-nav{
    a{
      text-decoration: none;
      color: white;
      font-weight: 600;
      transition: var(--transition);
      &:hover{
        color: var(--secondary-color);
        &::after{
          content: "";
          position: absolute;
          display: block;
          width: 45px;
          height: 5px;
          background-color:var(--secondary-color);
          top: 0;
        }
      }
    }
    .current_page_item{
      a{
        font-weight: 800;
        &::after{
          content: "";
          position: absolute;
          display: block;
          width: 45px;
          height: 5px;
          background-color:var(--secondary-color);
          top: 0;
        }
      }
    }
    @include respond-below(md) {
      display: none;
      &.open {
        position: absolute;
        top: 5rem;
        right: 0;
        display: block;
        width: 10rem;
        background-color: var(--primary-color);
        z-index: 100;
      }
      .current_page_item{
        a{
          font-weight: 800;
          &::after{
            content: "";
            position: absolute;
            display: block;
            width: 5px;
            height: 24px;
            background-color:var(--yellow-color);
            left: 0;
            top: unset;
          }
        }
      }
    }
    a{
      &:hover{
        color: var(--yellow-color);
        &::after{
          content: "";
          position: absolute;
          display: block;
          width: 5px;
          height: 24px;
          background-color:var(--yellow-color);
          left: 0;
          top: unset;
        }
      }
    }
  }

}


// Změny, pokud je .main-nav ve stavu open
.navigation__toggle {
  width: 62px;
  height: 62px;
  position: absolute;
  right: 0;
  top: 0;
  .close{
    display: none;
  }
  .open{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &.open{
    .close{
      display: block;
    }
    .open{
      display: none;
    }
  }

}



