/*btn*/
.btn{
  border-radius: var(--radius-btn);
  text-align: center;
  font-weight:  800 ;
  font-size: 1rem;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;
  max-width: 200px;
  transition: var(--transition-slower);
  text-decoration: none;

  &.large{
    padding: 20px 20px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: var(--radius-btn-large);
  }

  &.primary{
    background-color: var(--btn-primary-color);
    color: black;
    &:hover{
      background-color: var(--btn-primary-color-hover);
    }
  }
  &.secondary{
    background-color: var(--btn-secondary-color);
    color: white;
    &:hover{
      background-color: var(--btn-secondary-color-hover);
    }
  }
  &.dark{
    background-color: var(--dark-color);
    color: white;
    &:hover{
      background-color: var(--gray-color);
      color: black;
    }
  }
  &.light{
    background-color: unset;
    border: solid 2px var(--dark-color);
    color: black;
    &:hover{
      border: var(--secondary-color) 2px solid;
    }
  }
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  justify-content: center;
  margin: 15px 0;
  padding: 0 20px;
}