
.section{
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  &.dark{
    background: var(--background-color);
    //pokud je dark pozadí změnit barvy
    p,span,li, strong, em{
      color:white;
    }
  }
  &.gray{
    background: var(--gray-color);
  }
  .container{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    row-gap: 32px;
     @include respond-below(md) {
      row-gap: 20px;
      }
    .row{
      width: 100%;
      row-gap: 32px;
      @include respond-below(md) {
        row-gap: 20px;
      }
    }
  }
}

.nav-block,
.footer-w{
  width: 100%;
  max-width: 1240px;
  margin: auto;
}