
.section{
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  &.dark{
    background: var(--background-color);
    //pokud je dark pozadí změnit barvy
    p,span,li, strong, em{
      color:white;
    }
  }
  .container{
    display: flex;
    max-width: 960px;
  }
}