/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
  // Základní proměnné pro písma
  :root {
    //Fonts
    --font-primary: "Nunito Sans", sans-serif;

    //sizes
    --font-size-primary: 1rem; // 16px
    --font-size-small: 0.8rem;
    --font-size-large: 2rem;
    --line-height-base: 1.5;


    //colors
    --text-color-primary:#221244;
    --text-color-light:white;
    --text-color-gray:#747474;
    --text-color-dark:balck;
    --text-color-red:#D54D51;
    --text-color-hover:#7F170EFF;
  }

  /*Fonts*/
  *{
    font-family: var(--font-primary);
    font-size: var(--font-size-primary);
    line-height: var(--line-height-base);
    color: var(--text-color-primary);
  }

  .intro{
    &.light{
      p,span,li, strong, em{
        color: white;
      }
    }
  }

  // H1-> stylizace
  h1, h2, h3, p, span{
    color: var(--text-color-primary);

    &.light {
      color: var(--text-color-light);
    }
    &.red{
      color:var(--text-color-red);
    }
    &.gray{
      color:var(--text-color-gray);
    }
    &.dark{
      color:var(--text-color-dark);
    }
  }

  h1 {
    font-size: 2.625rem; // 40px
    &.large{
      font-size: 3rem; //52px
    }
  }

  h2{
    font-size: 2.5rem; // 40px
    span{
      font-size: 2.5rem; // 40px
    }
    .how-to & {
      text-align: center;
    }
  }

  h3 {
    font-size: 1.5rem; // 32px
    span{
      font-size: 1.5rem; // 40px
    }
  }

  p {
    font-size: var(--font-size-primary);
    line-height: var(--line-height-base);
    &.small{
      font-size:var(--font-size-small) ;
      font-weight: 200;
    }
  }

  // Stylizace odkazů
  a {
    color: var(--text-color-red);
    text-decoration: none;
    transition: var(--transition);

    &:hover {
      color: var(--text-color-hover);
    }
  }
.container{
  ul {
    list-style-type: none; // Odstraní výchozí odrážky
    padding: 0;
    margin: 0;

    li {
      position: relative; // Umožní pozicování pseudo-elementu
      padding-left: 20px; // Udělá místo pro čtvereček
      margin-bottom: 10px; // Volitelný: Pro větší rozestup mezi položkami

      &::before {
        content: ""; // Nutné pro zobrazení pseudo-elementu
        position: absolute; // Absolutní pozicování vůči svému rodiči (li)
        left: 0; // Zarovnání k levému okraji
        top: 50%; // Zarovnání k vertikálnímu středu položky
        width: 10px; // Šířka čtverečku
        height: 10px; // Výška čtverečku
        background-color: var(--primary-color); // Barva čtverečku
        transform: translateY(-50%); // Centrování vůči vertikálnímu středu položky
      }
    }
  }
}

