.career-detail{

  .post-text{
    .entry{
      display: flex;
      flex-direction: column;
      gap: 20px;

      ul{
        padding-left: 20px;
        list-style-type: square;
        display: flex;
        flex-direction: column;
        gap: 15px;
        li{
          position: relative;
          list-style-type: square;
          color: black;
          font-family: Sora;
          font-size: 1rem;
          font-style: normal;
          line-height: 150%;
        }
      }

      p{
        color: var(--gray-600, #475467);
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 155.556% */
      }
      h2{
        color: #000;
        font-family: Sora;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 107.143% */
      }
      h2:nth-of-type(n+2) {
        margin-top: 30px;
      }
      a{
        color: #419B92;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        text-decoration-line: underline;
      }
    }
  }

  .contact-form{
    .wpcf7{
      form{
        display: block;
      }
    }
  }
}