.case-studies{
.head{
  position: static;
  display: flex;
  flex-direction: column;
}
  .list{
    overflow: hidden;
  }
  .glide__slides{
    display: flex;
    .glide__slide{
      background: white;
      border-radius: 20px;
      padding: 40px 30px;

      .item-inner{
        display: flex;
        flex-direction: column;
        gap: 30px;
        span{
          &.large{
            font-family: Sora;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            a{
              color: black;
              text-decoration: none;
              font-size: 1.8rem;
            }
          }
        }
        .desc{
          color: #475467;
          font-family: Inter;
          font-size: 0.9rem;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
        a{
          color: #419B92;
          font-family: Inter;
          font-size: 1.1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          text-decoration-line: underline;
          transition: $transition-speed;
          &:hover{
            color:#7FDAD1;;
          }
        }
      }
    }
  }
  .head{
    margin-bottom: 40px;
    @media screen and (min-width: $mobile-breakpoint) {
      margin-bottom: unset;
    }
    h2{
      font-size: 2rem;

    }
    .suphead{
      background-color: white;
      font-size: 0.8rem;
      line-height: 150%;
      padding: 5px 15px;
      border-radius: 5px;
      color:#475467;
      width: fit-content;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}