// Cats

.cats {

	.head {
		margin-bottom: 24px;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.5;
		text-align: center;
	}

	ul {
		display: flex;
		align-items: center;
		column-gap: 10px;
		row-gap: 16px;
		flex-wrap: wrap;

		@media screen and (max-width: 1023px) {
			row-gap: 10px;
		}
	}

	a,
	span {
		padding: 8px 16px;
		border-radius: 4px;
		background: #BFF2EE;
		color: var(--gray-500, #667085);
		text-align: center;
		font-size: 13px;
		font-weight: 700;
		line-height: 150%;
		text-decoration: none;
		text-transform: uppercase;
        transition: $transition-speed;
      &:hover{
        background: #7FDAD1;
        color:black;
      }

		@media screen and (max-width: 1023px) {
			padding: 6px 12px;
			font-size: 10px;
		}
	}

	&.center {
		ul {
			justify-content: center;
			gap: 20px
		}
	}

	&.oneline {
		margin: 20px 0;

		ul {
			justify-content: center;
		}
	}
}