.check-list-big,
.check-list-big-v2{
  &.v2{
    .item-list{
      .item{
        .item-inner{
          .img{
            min-height: 24px;
            min-width: 24px;
          }
        }
      }
    }

  }
  &.yellow,
  &.white{
    .section-head{
      text-align: left;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .item-list{
      row-gap: 30px;
      column-gap: 0px;
    }
  }
  .item-list{
    gap: 20px;
    justify-content: center;
    &.left{
      justify-content: flex-start;
    }
    .item{
      .item-inner{
        display: flex;
        background: white;
        padding: 5px 10px;
        border-radius: 8px;
        gap:15px;
        font-size: 1rem;
        color: #475467;
        line-height: 150%;
        font-weight: 600;
        font-family: Inter;
        &.yellow{
          background: #FBF8EE;
          display: flex;
          width: 100%;
          padding: 20px 10px;
          align-items: flex-start;
          gap: 10px;
          height: 100%;
        }
        &.white{
          background: white;
          display: flex;
          width: 100%;
          padding: 20px 10px;
          align-items: flex-start;
          gap: 10px;
          height: 100%;
        }
        .img{
          height: 24px;
          width: 24px;
          svg{
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  .foot{
    margin-top: 40px;
  }

}

