.faq {
	margin-top: 30px;
	width: 100%;
	@media only screen and (min-width: $tablet-breakpoint) {
		margin-top: 40px;
	}

	.section-head {
		font-size: 1.8rem;
		text-align: center;
		font-weight: 700;
		margin-bottom: 30px;
	}

	.item-list {
		margin: auto;
		max-width: 800px;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.item {
			background-color: $primary-bg-green;
			padding: 20px;
			border-radius: 5px;

			.item-head {
				font-size: 1rem;
				font-weight: 600;
				display: flex;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;

				.faq-close {
					display: block;
				}

				.faq-active {
					display: none;
				}
			}

			.item-content {
				display: none;
				transition: $transition-speed;
				opacity: 0;
				font-size: 0.8rem;
				font-weight: 500;
				margin-top: 15px;

				p {
					color: #344054;
					font-size: 14px;
					line-height: 1.5;
				}
			}

			&.active {
				.item-content {
					opacity: 1;
					display: block;
				}

				.faq-close {
					display: none;
				}

				.faq-active {
					display: block;
				}
			}
		}
	}
}
