/************************************************************************************
FOOTER
*************************************************************************************/

.footer {
  font-size: 1rem;
  background: black;
  color: #fff;
  font-family: Inter;

  .foot-item {
    margin: 30px 0;
  }

  .foot-address {
    font-size: 1.2rem;

    .head {
      font-size: 1rem;
      line-height: 1.1em;
      font-weight: 600;
     margin-bottom: 15px;
      font-family: 'Sora', sans-serif;
    }

    ul {
      li {
        padding: 0;
        margin: 0;

        &:before {
          content: none;
        }
      }
    }
  }

  .foot-info {
    width: 100%;

    ul {
      margin: 0 -10px;
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 10px;
        margin: 0;

        &:before {
          content: none;
        }
      }
    }
  }

  .social-nav {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    stroke: white;
    color: white;

    ul {
      margin: 0 -5px;
      display: flex;

      li {
        padding: 0 5px;
        margin: 5px 0;
        svg{
          height: 24px;
          width: 24px;
        }

        &:before {
          content: none;
        }
      }
    }
  }

  .head {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .f_1 {
    padding: 40px 0px;
  }

  .f_2 {
    color: #345B8A;
    padding: 30px 0px;

    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .copy {
      margin: 0;
      color: white;
    }

    a {
      color: #345B8A;
    }
  }

  .foot-service-nav {
    text-align: left;
  }

  ul {
    li {
      position: relative;
    }

    &.unstyled {
      li {
        padding: 0;

        &:before {
          content: none;
        }
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #7FDAD1;
    }
  }

  .mw {
    position: relative;
    color: #c6c6c6;
    display: block;

    &:hover {
      color: #00daee;
    }

    .text {
      position: absolute;
      left: 0;
      top: 0;
      text-indent: -80000px;
      display: block;
    }

    .icon-mw {
      width: 70px;
      height: 30px;
    }
  }
}