.header {
	position: sticky;
	top: 0;
  z-index: 100;
  -webkit-box-shadow: 0px 12px 42px -7px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 12px 42px -7px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 12px 42px -7px rgba(0, 0, 0, 0.51);
	transition: $transition-speed;

  &.fixed {
	  @media only screen and (min-width: $desktop-breakpoint) {
		  transform: translateY(-70px);
	  }
  }

  .top-bar {
    &.h70 {
      height: 70px;
    }

    &.h80 {
      height: 80px;
    }

    &.black {
      background-color: black;
    }

    &.white {
      background-color: white;
    }

    width: 100%;
    align-items: center;
    justify-content: center;

    .content-position__center {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
    }

    .content-position__absolut-right {
      position: absolute;
      right: 25px;
    }

    .content-position__absolut-left {
      position: absolute;
      left: 25px;
    }

    .nav-btn {
      svg {
        stroke: black;
        transition: $transition-speed;

        &:hover {
          stroke: $link-primary-green;
        }
      }
    }
  }

  .nav {
    @media only screen and (min-width: $desktop-breakpoint) {
      display: flex;
      gap: 5px;
    }





	.menu-item {
	  font-size: 0.875rem;
	  font-weight: 600;
	  padding: 40px 0;
	  a {
		text-decoration: none;
		color: black;
		@media only screen and (min-width: $desktop-breakpoint) {
		  	padding: 5px 10px;
			height: 100%;
		}
		&:hover {
		  border-bottom: 2px solid black;
		}
	  }

	  &.current-menu-item {
		a {
		  border-bottom: 2px solid black;
		}
	  }
	}
  }

  .mobile-nav-block {
	display: none;
  }
}

.mobile-nav-opened {
  position: fixed;
  display: block;
  width: 100%;

  .mobile-nav-block {
	display: block;
	width: 100%;
	height: 100vh;

	.mobile-nav {
	  background-color: $primary-menu-bg-green;
	  text-align: left;

	  .nav {
		padding: 20px;

		.menu-item {
		  padding: 10px 0px;
		}
	  }
	}

	.menu-black-box {
	  background-color: black;
	  height: 100vh;

	  .black-box__content {
		padding: 20px;

		.head {
		  color: $link-secondary-gray;
		  padding: 20px 0px;
		}

		li {
		  padding: 10px 0px;
		}
	  }
	}

	.black-box-contact {
	  display: block;
	  text-align: center;
	}
  }
}

#menu-main-nav {
  > .trig-sluzby,
  	.menu-item-type-produkty {
    &.active > a::after {
      content: url('data:image/svg+xml,%3Csvg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath id="Path" d="M9 5L5 1L1 5" stroke="%23323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
      margin-left: 5px;
    }

    > a::after {
      content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="6" fill="none" viewBox="0 0 10 6"%3E%3Cpath stroke="%23323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/%3E%3C/svg%3E');
      margin-left: 5px; /* Prostor mezi ikonou a textem */
    }
  }
}





