// Main dropdown
// =============

.main-dropdown {
	z-index: 100000;
	position: fixed;
	overflow-y: clip;
	display: none;
	max-height: calc(100vh - 80px);
	width: 100%;
	padding-top: 40px;
	background-color: #F2EFE6;

	@media screen and (max-width: 1023px) {
		overflow-y: scroll;
		padding-top: 20px;
	}

	&.active {
		@media screen and (min-width: 1024px) {
			display: block;
		}
	}

	.cats {
		margin: 0 0 40px !important;

      @media screen and (max-width: $tv-breakpoint) {
			margin: 0 0 20px !important;
		}


		ul {
			margin-left: 20px;
			justify-content: flex-start !important;
		}
	}

	.services-inline {
		.item-inner {
			display: flex;
			padding: 24px;
			gap: 16px;
			color: #000000;
			text-decoration: none;
			margin-bottom: 22px;
			transition: $transition-speed;

          .mini {
            span {
              font-weight: 700;
            }
          }

			@media screen and (max-width: $tv-breakpoint) {
				padding: 8px 0;
				margin: 0;
                margin-bottom: unset;
			}

			&:hover {
				.img{
                  background-color: rgba(208, 213, 221, 0.47);
					&.none{
						background-color: white;
					}
                }
              .mini{
                svg{
                  scale:1.3;
                }
              }
			}


		}

		.img {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 70px;
			width: 70px;
			height: 70px;
			background-color: #FFFFFF;
			border-radius: 16px;
            transition: $transition-speed;


			@media screen and (max-width: $tv-breakpoint) {
				flex: 0 0 50px;
				width: 50px;
				height: 50px;
			}

			svg {
				width: 42px;
				height: 42px;


				@media screen and (max-width: $tv-breakpoint) {
					width: 24px;
					height: 24px;
				}
			}
		}

		.text {
			flex: 1 1 100%;

			p {
				color: #475467;
				font-size: 13px;
			}
		}

		.head {
			svg {
				width: 16px;
				height: 16px;
			}
		}

		.mini {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			font-size: 1.125rem;
			line-height: 1.25;
			margin-bottom: 6px;

			span {
				max-width: 120px;

				@media screen and (max-width: 1023px) {
					max-width: initial;
				}
			}
		}
	}

}