.proces{
  .item-list{
    margin-bottom: 40px;
  }
  .item-inner{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    .head{
      color: #419B92;
      text-align: center;
      font-family: Sora;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .desc{
      color: #667085;
      text-align: center;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .img{
      height: 220px;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
}