.section-nav{
ul{
    display: none;
  @media screen and (min-width: $tablet-breakpoint) {
    display:flex;
  }

  li{
    display: flex;
    padding: 24px 4px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    transition: $transition-speed;
  a{
    color: var(--gray-500, #667085);
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
  }
    &:hover{
      background-color: white;
      a{
        color: black;
      }
    }
  }
}
}