.service-detail {

	.row {
		&.img-right {
			.col-md-5 {
				&.v2 {
					order: 2;
					margin-bottom: 40px;
				}
			}

			.col-md-7 {
				&.v2 {
					order: 1
				}
			}

			.anchor {
				&.v2 {
					order: 3
				}
			}
		}
	}

	&.v2 {
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		.post-text {
			color: var(--gray-600, #475467);
			font-family: Inter;
			font-size: 1rem;
			font-style: normal;
			font-weight: 600;
			line-height: 150%; /* 24px */
		}
	}

	.row {
		row-gap: 40px;

		&.gap-2 {
			row-gap: 20px;
		}
	}

	.col-md-7 {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.post-excerpt {
		color: #000;
		font-family: Sora;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.check-list {
		ul {
			padding-left: 20px;
			list-style-type: square;
			display: flex;
			flex-direction: column;
			gap: 15px;

			li {
				position: relative;
				list-style-type: square;
				color: var(--gray-600, #475467);
				font-family: Sora;
				font-size: 1rem;
				font-style: normal;
				font-weight: 600;
				line-height: 150%;
			}

		}

	}

	img {
		width: 100%;
		height: auto;
	}
}

.service-nav {
	h3 {
		color: var(--base-black, #000);
		font-family: Sora;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	ul {
		display: flex;
		gap: 20px;
		flex-direction: column;
		margin-top: 40px;

		.item {
			a,
			span {
				display: flex;
				gap: 15px;
				padding: 20px 10px;
				align-items: center;
				align-self: stretch;
				border-radius: 8px;
				background: #FBF8EE;
				color: var(--gray-600, #475467);
				font-family: Inter;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%; /* 30px */
				text-decoration: none;
				transition: $transition-speed;

				&:hover {
					background: #D0D5DD;
					color: black;
				}

				//Aby se nezobrazoval hover pokud je view_only
				&.hover {
					&:hover {
						background: #FBF8EE;
						color: var(--gray-600, #475467);
					}
				}

				&.nav-white {
					background-color: white;

					&:hover {
						background: #D0D5DD;
						color: black;
					}
				}
			}

			svg {
				height: 24px;
				width: 24px;
			}
		}
	}
}