.teaser-hp,
.teaser-alt{
  .teaser-text{
    .teaser-content,
    .teaser-content-v2 {
      margin: auto;
      text-align: center;
      max-width: 763px;
      .row{
        justify-content: center;
      }
      .intro{
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Sora', sans-serif;
        padding-bottom: 20px;
        max-width: 613px;
        margin: auto;
        @media only screen and (min-width: $desktop-breakpoint){
          padding-bottom: 40px;
        }
        a{
          color: black;
        }
      }

    }
  }
  .title-img{
    position: relative;
    display: none;
    @media only screen and (min-width: $tablet-breakpoint){
      display: block;
    }
    img{
      display: block;
      position: relative;

      &.h--90{
        top:-90px;
      }
      &.w-100{
        width: 100%;
      }
      &.w-min{
        margin: auto;
        @media only screen and (min-width: $tablet-breakpoint){
          width: 60%;
        }
        @media only screen and (min-width: $desktop-breakpoint){
          width: 50%;
        }
      }
    }
  }
}