.text-slider{
  .section-head{
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .image-slider{
    width: 100%;
    display: block;
    overflow: hidden;
  }
  img{

    width: 100%;
    @media screen and (min-width: $mobile-breakpoint) {
      width: unset;
    }
  }

  .image-slider-wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .glide-nav{
    position: absolute;
    bottom: -22px;
    margin: auto;
    left: 0;
    right: 0;
    @media screen and (min-width: $mobile-breakpoint) {
      bottom: 45%;
    }
    .glide__arrows{
      justify-content: center;
      @media screen and (min-width: $mobile-breakpoint) {
        display: flex;
        justify-content: space-between;

      }

    }
  }


  .glide__slides{
    display: flex;
    .glide__slide{
      background: white;
      border-radius: 20px;
      padding: 40px 30px;
    }
  }
}
