.video-service{
  display: flex;
  justify-content: center;
  img{
    width: 100%;
    max-width: 676px;
    margin: auto;
    border-radius: 20px;
  }
  .play{
    position: absolute;
    z-index: 12;
    margin: auto;
    left: 0;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    svg{
      margin: auto;
    }
  }
}